development: &default
  adapter: mysql2
  encoding: utf8
  database: airline_price_development
  host: localhost
  username: root
  password: ""

test: &TEST
  <<: *default
  database: airline_price_test

