<h3>Edit</h3>
<%= simple_form_for @subscription, :method => :put,
                                   :class => 'form-horizontal' do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
  <%= link_to 'Cancel', subscriptions_path %>
<% end %>
